[submodule "scripts"]
	path = scripts
	url = https://github.com/Open-Systems-Pharmacology/build-scripts.git
[submodule "dimensions"]
	path = dimensions
	url = https://github.com/Open-Systems-Pharmacology/OSPSuite.Dimensions.git
